@import 'catpuccin.css';

/* ---------------- *
 |                  |
 |  General theme   |
 |                  |
 * ---------------- */

* {
    font-family: 'JetBrainsMono Nerd Font', monospace;
    font-size: 12px;
}

window#waybar {
    background-color: @background;
    border-bottom: 3px solid @border;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    padding: 0;
}

label.module {
    padding: 0px 10px;
}

/* Required to get all custom modules at once */
/* See commit cd831ec0eeebbfc8d02badb012469a9db10e8efc */
/* PR: https://github.com/Alexays/Waybar/pull/5340 */
 .text-button {
    padding: 0px 10px;
 }

/* Using steps() instead of linear as a timing function to limit cpu usage */
button, label.module, .text-button {
    color: @text;
    border: 2px solid @border;
    border-top: inherit;
    border-bottom: inherit;
    transition: background-color 0.4s, opacity 1s;
    transition-timing-function: steps(10);
}

button:hover, label.module:hover {
    border: 2px solid @border;
    border-bottom-width: 3px;
    background-color: @surface0;
}
