@import 'catpuccin.css';

/* ---------------- *
 |                  |
 |  General theme   |
 |                  |
 * ---------------- */

* {
    font-family: 'JetBrainsMono Nerd Font', monospace;
    font-size: 12px;
}

window#waybar {
    background-color: @background;
    border-bottom: 3px solid @border;
    transition-property: background-color;
    transition-duration: .5s;
}

label.module {
    padding: 0px 10px;
    color: @text;
    border: 2px solid @border;
    border-top: inherit;
    border-bottom: inherit;
}

label.module:hover {
    border: 2px solid @border;
    border-bottom-width: 3px;
    animation-name: hover;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

button {
    color: @text;
    border: 1px solid @border;
    border-top: inherit;
    border-bottom: inherit;
}
