/* ---------------- *
 |                  |
 |      Utils       |
 |                  |
 * ---------------- */

@define-color background rgba(48, 52, 70, 0.65);  /* @base with opacity */
@define-color border rgba(41, 44, 61, 0.8);  /* @mantle with opacity */

/* disable default css button behavior */
button:hover {
    padding: inherit;
    text-shadow: none;
    background-color: inherit;
    background-image: none;
    /* border: none; */
    box-shadow: none;
    animation: none;
    transition: none;
}

@keyframes hover {
    to {
        background-color: @surface0;
    }
}

@keyframes hover-workspace-active {
    to {
        background-color: @surface1;
    }
}

@keyframes hover-workspace-urgent {
    to {
        background-color: @red;
    }
}

@keyframes blink {
    to {
        background-color: @flamingo;
        color: @text;
    }
}
